* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  backface-visibility: hidden;
  text-rendering: optimizeLegibility;
}

.gtcha {
  height: 84px;
  width: 100%;
  max-width: 300px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: relative;
  overflow: hidden;
  
  transition: 200ms all linear;
  transition-delay: 2.2s;
}

.gtcha.active {
  height: 300px;
}

.left {
  position: absolute;
  height: 100%;
  width: 14px;

  left: 0;
  background-color: #00FF99;

  transition: 500ms height linear;
}
.bottom {
  position: absolute;
  height: 14px;
  width: 100%;

  bottom: 0;
  background-color: #00CCFF;

  transition: 500ms width linear;
  transition-delay: 500ms;
}
.right {
  position: absolute;
  height: -webkit-calc(100% - 54px);
  height: calc(100% - 54px);
  width: 14px;

  right: 0;
  bottom: 0;
  background-color: #9933FF;

  transition: 200ms height linear;
  transition-delay: 1s;
}
.fake-shadow {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 0;
  top: 42px;
  background-color: #4A167E;

  transition: 100ms height linear;
  transition-delay: 1.2s;
}
.corner {
  position: absolute;
  width: 42px;
  height: 42px;
  right: 0;
  background-color: white;
}
.corner .corner-bottom {
  height: 14px;
  width: 42px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #FF6665;

  transition: 300ms width linear;
  transition-delay: 1.3s;
}
.corner .corner-left {
  height: 42px;
  width: 14px;
  bottom: 0;
  position: absolute;
  background-color: #FF6665;

  transition: 200ms height linear;
  transition-delay: 1.6s;
}
.corner .corner-middle {
  width: 14px;
  height: 14px;
  bottom: 14px;
  left: 14px;
  position: absolute;
  background-color: #FF6665;

  transition: 100ms height linear;
  transition-delay: 1.7s;
}
.top {
  position: absolute;
  height: 14px;
  width: calc(100% - 42px);
  top: 0;
  right: 42px;
  background-color: #FFFF99;

  transition: 400ms width linear;
  transition-delay: 1.8s;
}

.initial .left,
.initial .right,
.initial .fake-shadow,
.initial .corner .corner-left,
.initial .corner .corner-middle {
  height: 0;
}
.initial .bottom,
.initial .top,
.initial .corner .corner-bottom {
  width: 0;
}
.gtcha.initial {
  background-color: white;
}

form {
  position: absolute;
  width: calc(100% - 28px);
  top: 14px;
  left: 14px;
  padding: 14px;
}
form input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 0;
  margin-right: 16px;
  float: left;
  outline: none;
  cursor: pointer;
}

.options {
  margin: 14px 0;
  line-height: 0;
  opacity: 0;
  column-count: 3;
  column-gap: 0px;

  transition: 100ms opacity linear;
  transition-delay: 200ms;
}
.gtcha.active form .options {
  opacity: 1;
}
.options .option {
  position: relative;
  width: 82px;
  height: 82px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 0 solid white;
  transition: 50ms border-width linear;
}

.options .option:hover {
  cursor: pointer;
  border-width: 4px;
}
.options .option.selected {
  border-width: 4px;
}
.options .option.selected:before {
  content: '\2714';
  position: absolute;
  bottom: 16px;
  right: 7px;
  font-size: 20px;
}

input[type="submit"] {
  display: none;
  background: #6623b1;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 15px;
  padding: 5px 15px;
  outline: none;
}
input[type="submit"]:hover {
  cursor: pointer;
}
.gtcha.active form input[type="submit"] {
  display: block;
}
